{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered table-white">
        <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Sell Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        {% if transaction.shares > 0 %}
                            Buy
                        {% else %}
                            Sell
                        {% endif %}
                    </td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.sell_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}